h1 {
	color: black;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}
h2 {
	color: black;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}
h3 {
	color: black;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
p {
	font-family: verdana;
	font-size: 200%;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 5em;
	margin-right: 5em;
}
ul {
	font-family: verdana;
	font-size: 200%;
}
a:link {
	text-decoration: none;
}
.fa {
  padding: 10px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  margin: 10px 4px;
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-soundcloud {
  background: #ff5500;
  color: white;
}
